<div #projectsDiv>
  <mat-card class="angular-project-card">
    <mat-card-header>
      <div mat-card-avatar class="angular-project-card-header-image"></div>
      <mat-card-title>Angular In Action</mat-card-title>
      <mat-card-subtitle>You're looking at it!</mat-card-subtitle>
    </mat-card-header>
  </mat-card>

  <mat-card class="java-project-card">
    <mat-card-header>
      <div mat-card-avatar class="java-project-card-header-image"></div>
      <mat-card-title>Java In Action</mat-card-title>
      <mat-card-subtitle>I work with Java Everyday!</mat-card-subtitle>
    </mat-card-header>
  </mat-card>

  <mat-card class="react-project-card">
    <mat-card-header>
      <div mat-card-avatar class="react-project-card-header-image"></div>
      <mat-card-title>React In Action</mat-card-title>
      <mat-card-subtitle>Coming Soon!</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</div>

