
.angular-project-card{
  cursor: pointer;
  max-width: 50%;
  position: absolute;
  top: 60%;
  left: 25%;
  word-wrap: break-word;
}

.angular-project-card-header-image {
  background-image: url('../../../assets/images/angular.png');
  background-size: cover;
}

.java-project-card{
  cursor: pointer;
  max-width: 50%;
  position: absolute;
  top: 60%;
  left: 42%;
}

.java-project-card-header-image {
  background-image: url('../../../assets/images/java.png');
  background-size: cover;
}


.react-project-card{
  cursor: pointer;
  max-width: 50%;
  position: absolute;
  top: 60%;
  left: 60%;
}

.react-project-card-header-image {
  background-image: url('../../../assets/images/react.png');
  background-size: cover;
}

