<div id="bannerContainer" class="primaryColorBG">
  <video id="banner" onloadedmetadata="this.muted=true" autoplay loop  preload="auto" class="video">
    <source type="video/mp4" src="{{videoSource}}">
  </video>
  <h1 class="name" id="name">{{name}}</h1>
  <h2 class="title" id="title">{{jobTitle}}</h2>

  <button *ngIf="false" mat-raised-button color="primary" class="projectsButton" (click)="callToScroll()">See Projects</button>
  <p class="summary">Seasoned Full Stack Software Engineer bringing over 7 years of experience in delivering exceptional systems for Health-Care IT, Banking &
    Finance, and Network Management Systems. Effective at coordinating work of diverse teams to produce innovative designs. Highly
    organized, performance-oriented and customer-driven.</p>
</div>


